# Configuración de Base de Datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=contraseña de postgres
DB_HOST=localhost
DB_PORT=5434
DB_NAME=nombre de la base de datos
JWT_SECRET=superclave123

# Configuración de Email
EMAIL_USER=levelmed7@gmail.com
EMAIL_PASSWORD=yflwdrmxneslgfon

# Configuración de Supabase
SUPABASE_URL=https://nspxfahxtkwmobvwmmfh.supabase.co
SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zcHhmYWh4dGt3bW9idndtbWZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTU5MjQzNCwiZXhwIjoyMDg3MTY4NDM0fQ.0Dz7-wemjz942Q3g-4r2U-mPK71v637iRVLCi6Cxc6o
SUPABASE_PUBLIC_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zcHhmYWh4dGt3bW9idndtbWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1OTI0MzQsImV4cCI6MjA4NzE2ODQzNH0.2d6wfa70kZZWfzrr2CY_b4DrnSXp3tzJnqz_AFsSbrk