{% extends 'base/base.html' %}

{% block titulo %}Flashcards - LevelMed{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/static/css/flashcards/flashcards.css?v=7">
<link rel="stylesheet" href="/static/css/flashcards/pestanas/estudiar.css?v=2">
    <link rel="stylesheet" href="/static/css/flashcards/pestanas/MisFlashcards.css?v=17">
    <link rel="stylesheet" href="/static/css/flashcards/pestanas/MisMazos.css?v=17">
<link rel="stylesheet" href="/static/css/flashcards/pestanas/VerFlashcards.css?v=2">
<link rel="stylesheet" href="/static/css/flashcards/modals/editar_mazo.css?v=4">
<link rel="stylesheet" href="/static/css/flashcards/modals/crear_mazo.css?v=3">
<link rel="stylesheet" href="/static/css/flashcards/modals/eliminar_mazo.css?v=2">
<link rel="stylesheet" href="/static/css/flashcards/modals/crear_flashcard.css?v=6">
<link rel="stylesheet" href="/static/css/flashcards/modals/editar_flashcard.css?v=6">
<link rel="stylesheet" href="/static/css/flashcards/modals/eliminar_flashcard.css?v=4">
{% endblock %}

{% block contenido %}
<div class="flashcard-container" 
     data-mazos='{{ mazos_json|safe }}'
     data-tarjetas='{{ tarjetas_json|safe }}'
     data-csrf='{{ csrf_token }}'>
    <header class="flashcard-header">
        <h1><i class="fas fa-layer-group"></i> Sistema de Flashcards</h1>
        <p class="subtitle">Método de repetición espaciada al estilo Anki</p>
    </header>
    
    <div class="app-container">
        <div class="control-panel">
            <div class="tabs">
                <div class="tab active" data-tab="study">
                    <i class="fas fa-book"></i> Estudiar
                </div>
                <div class="tab" data-tab="mis-flashcards">
                    <i class="fas fa-plus-circle"></i> Mis Flashcards
                </div>
                <div class="tab" data-tab="mis-mazos">
                    <i class="fas fa-folder"></i> Mis Mazos
                </div>
                <div class="tab" data-tab="ver-flashcards">
                    <i class="fas fa-list"></i>Todas
                </div>
            </div>
            
            <!-- PESTAÑA: ESTUDIAR -->
            {% include 'flashcards/pestanas/estudiar.html' %}
            
            <!-- PESTAÑA: CREAR FLASHCARD -->
            {% include 'flashcards/pestanas/MisFlashcards.html' %}
            
            <!-- PESTAÑA: MIS MAZOS -->
            {% include 'flashcards/pestanas/MisMazos.html' %}
            
            <!-- PESTAÑA: VER TODAS -->
            {% include 'flashcards/pestanas/VerFlashcards.html' %}
        </div>
    </div>
</div>

<!-- Modal para editar mazo -->
{% include 'flashcards/modals/editar_mazo.html' %}

<!-- Modal para crear mazo -->
{% include 'flashcards/modals/crear_mazo.html' %}

<!-- Modal para eliminar mazo -->
{% include 'flashcards/modals/eliminar_mazo.html' %}

<!-- Modal para crear flashcard -->
{% include 'flashcards/modals/crear_flashcard_modal.html' %}

<!-- Modal para editar flashcard -->
{% include 'flashcards/modals/editar_flashcard.html' %}

<!-- Modal para eliminar flashcard -->
{% include 'flashcards/modals/eliminar_flashcard.html' %}
{% endblock %}

{% block js %}
<script src="/static/js/flashcards/flashcards.js?v=6"></script>
<script src="/static/js/flashcards/pestanas/estudiar.js?v=2"></script>
<script src="/static/js/flashcards/pestanas/MisFlashcards.js?v=4"></script>
<script src="/static/js/flashcards/pestanas/MisMazos.js?v=3"></script>
<script src="/static/js/flashcards/pestanas/VerFlashcards.js?v=2"></script>
<script src="/static/js/flashcards/modals/editar_mazo.js?v=2"></script>
<script src="/static/js/flashcards/modals/crear_mazo.js?v=2"></script>
<script src="/static/js/flashcards/modals/eliminar_mazo.js?v=2"></script>
<script src="/static/js/flashcards/modals/crear_flashcard.js?v=4"></script>
<script src="/static/js/flashcards/modals/editar_flashcard.js?v=5"></script>
<script src="/static/js/flashcards/modals/eliminar_flashcard.js?v=4"></script>
{% endblock %}
